html {
    font-family : 'Roboto', sans-serif;
}

.main {
    font-size : 18px;
}

.choice, .save, .saveText, .textBox {
    font-size : 10px;
}

.textBox {
    width: 240px;
}

.explanation {
  font-size : 10px;
}